.note-card{
    border: 1px solid gray;
    padding: 5px 20px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
}

.note-card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.note-card-category{
    background-color: black;
    color: white;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 20px;
}

.delete-icon{
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.update-icon{
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 80px;
}

@media screen and (max-width: 600px) {
    .note-card-title{
        margin-right: 80px;
    }
    .note-card-content{
        margin-right: 50px;
    }
    .note-card-category{
        right: 0;
    }
    .delete-icon{
        bottom: 5px;
        right: 10px;
    }
    .update-icon{
        bottom: 5px;
        right: 50px;
    }
}
